/.idea
*.log
__pycache__/
*.py[cod]
*$py.class
_build
_static
_templates
.DS_store
.venv
*.swo
*.swp
*.swn
*.pyc
.cache/

# pip package metadata
*egg-info/

# conda build metadata
build/
dist/
lib/
info/

# Holoclean specific files
debug/

# sparcle
venv/
testdata/*
!testdata/adult/
!testdata/flight/
!testdata/hospital
!testdata/met
examples/*.py
!examples/holoclean_repair_example.py
!examples/holoclean_repair_example_db.py
examples/*.sh
!examples/start_example.sh
examples/toml/
examples/backup/
0-exp/
!0-exp/sparcle_driver.py
!0-exp/eval_driver.py
!0-exp/start_sparcle.sh
!0-exp/start_sparcle_multi.sh
!0-exp/nyc-crash
!0-exp/chicago-synthetic20k
